@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@600&family=Inter:wght@400;700&family=NTR&display=swap');
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@theme {
  /* Colors */
    --color-brand-blue: #00F5FF;
    --color-brand-white-title: #CCD6F6;
    --color-brand-white-text: #E4E4E4;
    --color-brand-background: #121212;

    /* Fonts */
    --font-inter: "Inter", "system-ui", "sans-serif";
    --font-ntr: "NTR", "system-ui", "sans-serif";
    --font-enriqueta: "Enriqueta", "system-ui", "serif";
}

@layer base {
    body {
        @apply min-h-screen bg-gradient-to-bl from-[#0B4150] to-brand-background;
    }
    html {
        scroll-behavior: smooth;
        background-color: #0B4150;
    }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUpLong {
    from { opacity: 0; transform: translateY(150px); }
    to { opacity: 1; transform: translateY(0); }
}

@utility animate-slide-up {
    animation: slideUp 0.5s ease-out both;

    @media (min-width: 768px) {
        animation: slideUpLong 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) both;
    }
}

@keyframes slideRight {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}

@utility animate-slide-right {
    animation: slideRight 0.5s ease-out both;
}

/* Swiper Carousel CSS */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    --swiper-navigation-color: #0C576D;
    transition: color 0.3s ease;
}

.swiper {
    transition: height 300ms ease;
    --swiper-navigation-color: #00F5FF;
    --swiper-pagination-color: #00F5FF;
    --swiper-pagination-bullet-inactive-color: #00F5FF;
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    padding-bottom: 48px !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: 75% !important;
    transition: color 0.3s ease;
}